<launch>
	<arg name="path_camera_parameters" default="$(env HOME)/space_rover/srcameras/calibrationdata/"/>
	<arg name="remapping_disabled" default="false"/>
	<arg name="cameras_prefix" default="cameras"/>
	<arg name="camera_name" default="C920"/>
	<arg name="camera_ns" default="/$(arg cameras_prefix)/$(arg camera_name)"/>

	<node name="$(arg camera_name)" pkg="usb_cam" type="usb_cam_node" output="screen">
		<param name="video_device" value="/dev/video0"/>
		<param name="camera_frame_id" value="$(arg camera_name)"/>
		<param name="image_width" value="640"/>
		<param name="image_height" value="480"/>
		<param name="framerate" value="10"/>
		<param name="pixel_format" value="yuyv"/>
		<param name="io_method" value="mmap"/>
		<param name="brightness" value="50" type="int"/>
		<param name="saturation" value="0" type="int"/>
		<param name="contrast" value="0"/>
		<param name="sharpness" value="0"/>
		<param name="camera_info_url" value="file://$(arg path_camera_parameters)/$(arg camera_name).yaml"/>
		<remap if="$(eval arg('remapping_disabled') == false)" from="/$(arg camera_name)/image_raw" to="/cameras/$(arg camera_name)/image_raw"/>
		<remap from="/$(arg camera_name)/camera_info" to="/cameras/$(arg camera_name)/camera_info"/>
	</node>

	<node name="image_proc" pkg="image_proc" type="image_proc" ns="$(arg camera_ns)"/>
</launch>
